<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" height="100">
    <link rel="stylesheet" href="/static/style.css">
    <title>Tech Careers</title>
</head>
<body>
    <div id="container">
    <h1>Technical Careers</h1>
    <img id="banner" src="https://techcareerswebsite-1.nareshdaravath.repl.co/static/work.jpg" height="320" >
  <h2>About Careers</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Commodo quis imperdiet massa tincidunt. Turpis in eu mi bibendum neque egestas congue quisque egestas. Nullam ac tortor vitae purus. Pellentesque diam volutpat commodo sed egestas egestas. Viverra nibh cras pulvinar mattis nunc sed. Dignissim sodales ut eu sem integer vitae justo eget magna. Rhoncus urna neque viverra justo nec ultrices. Nunc faucibus a pellentesque sit amet porttitor eget dolor. Faucibus ornare suspendisse sed nisi lacus sed viverra. Tortor consequat id porta nibh venenatis cras. Aliquet sagittis id consectetur purus ut faucibus pulvinar.
</p>
  <h2>Open positions</h2>
  <p>Todo - show the jobs here </p>
      <div style="text-align:center;">
  <button>Contact Us</button>
        <p>Copyright 2023, Tech Careers</p>
      </div>
      
  </div>
</body>
</html>